##########################
# TRASA server binary
########################
trasa-server
trasa
server/server

.vscode/
.idea/

build/etc/trasa/certs/
build/etc/trasa/static/



#############################
#       mobile-app      #####
#############################
GoogleService-Info.plist
google-services.json
mobile-app/android/build/
mobile-app/android/.gradle
mobile-app/android/local.properties
mobile-app/android/gradle.properties
mobile-app/android/app/release
mobile-app/android/app/build

# Bundle artifact
*.jsbundle

# CocoaPods
mobile-app/ios/Pods/

# BUCK
mobile-app/buck-out/
\.buckd/
*.keystore
!debug.keystore

# node.js
#
mobile-app/node_modules/
mobile-app/package-lock.json # include if you are using npm - don't use both yarn and npm
mobile-app/npm-debug.log
mobile-app/yarn-error.log
mobile-app/yarn.lock # include if you are using yarn - don't use both npm and yarn





##############################
########   Dashboard ###########
################################

# node.js
#
dashboard/node_modules/
dashboard/package-lock.json # include if you are using npm - don't use both yarn and npm
dashboard/npm-debug.log
dashboard/yarn-error.log
dashboard/yarn.lock # include if you are using yarn - don't use both npm and yarn
dashboard/build










# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots


# OSX
#
.DS_Store

# Xcode
#
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
.idea
.gradle
local.properties
*.iml
